@use "/src/scss/base/variables.scss" as *;

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

html {
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: $white;
}

.container {
    max-width: 1218px;
    margin: 0 auto;
    padding: 0 20px;
}

@media screen and (max-width: 1060px) {
    .container {
        max-width: 100%;

    }
}