@use "/src/scss/base/variables.scss" as *;

.why-us {
    background-color: $black;
    padding: 175px 0;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 30px;
        align-items: center;
    }

    &__caption {
        grid-column: 1/5;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__img {
        max-width: 100%;
        grid-column: 5/9;


        img {
            display: block;
            margin: 0 auto;
            transform: rotate(-7deg) translateX(-1vw);
            max-width: 20vw;
        }
    }

    &__cta {
        grid-column: 9/13;
    }

    &__text-block {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    &__button {
        margin-top: 45px;
    }
}

@media screen and (max-width: 1060px) {
    .why-us {
        padding: 90px 0 120px 0;

        &__wrapper {
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(2, auto);
            column-gap: 20px;
            row-gap: 50px;
            align-items: start;
        }

        &__caption {
            grid-column: 1/5;
            grid-row: 1/2;
        }

        &__img {
            grid-column: 1/4;
            grid-row: 2/3;
            align-self: center;

            img {
                transform: rotate(-7deg) translateX(-1vw) translateY(30px);
                max-width: 40vw;
            }
        }

        &__cta {
            grid-column: 4/7;
            grid-row: 2/3;
        }
    }
}

@media screen and (max-width: 900px) {
    .why-us {

        &__wrapper {
            grid-template-columns: repeat(4, 1fr);
        }

        &__caption {
            grid-column: 1/4;
            grid-row: 1/2;
        }

        &__img {
            grid-column: 1/3;
            grid-row: 2/3;
            justify-self: center;
            align-self: center;

            img {
                max-width: 39vw;
                transform: rotate(-7deg) translateX(0) translateY(0);
            }
        }

        &__cta {
            grid-column: 3/5;
            grid-row: 2/3;
        }
    }
}

@media screen and (max-width: 620px) {
    .why-us {
        padding: 70px 0 90px 0;

        &__wrapper {
            grid-template-rows: repeat(3, auto);
            row-gap: 60px;
        }

        &__caption {
            grid-column: 1/5;
            grid-row: 1/2;
        }

        &__img {
            grid-column: 1/5;
            grid-row: 2/3;
            justify-self: start;
            align-self: start;

            img {
                max-width: 71vw;
            }
        }

        &__cta {
            grid-column: 1/4;
            grid-row: 3/4;
        }
    }
}

@media screen and (max-width: 440px) {
    .why-us {


        &__cta {
            grid-column: 1/5;
        }
    }
}