<div class="product-card">

    <div class="product-card__wrapper">

        <div class="product-card__image-wrapper">
            <img src="/images/card-photo.png" alt="product" class="product-card__img">
        </div>

        <div class="product-card__text-wrapper">
            <h4 class="title-h4">Gerhild</h4>
            <div class="product-card__descr-wrapper">
                <p class="txt">130x170 cm</p>
                <span class="txt">€90</span>
            </div>
        </div>

        <button class="add-to-cart">
            <span></span>
            <span></span>
        </button>

    </div>
</div>