@use "/src/scss/base/variables.scss" as *;

.product-card {
    width: calc((100% - 60px) / 3);
    cursor: pointer;
    text-decoration: none;

    .add-to-cart {
        display: none;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__image-wrapper {
        width: 100%;
        aspect-ratio: 1 / 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $beige;
        border-radius: $border-radius-sm;
    }

    &__img {
        width: 71%;
        height: auto;
    }

    &__text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__descr-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 5px;
    }

    &:hover,
    &:focus-visible {
        position: relative;

        .add-to-cart {
            display: block;
            border: none;
            height: 70px;
            width: 70px;
            background-color: $black;
            border-radius: $radius-round;
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;

            span {
                display: block;
                background-color: $white;
                border-radius: 2px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                &:nth-child(1) {
                    width: 37px;
                    height: 3px;
                }

                &:nth-child(2) {
                    width: 3px;
                    height: 37px;
                }
            }
        }

        .product-card {
            &__image-wrapper {
                border-radius: $radius-round;
            }

            &__img {
                transform: rotate(5deg) scale(120%, 120%);
            }
        }
    }
}

@media screen and (max-width: 1060px) {
    .product-card {
        width: calc((100% - 40px) / 3);

        &__wrapper {
            gap: 15px;
        }

        &__text-wrapper {
            gap: 3px;
        }

        &__descr-wrapper {
            gap: 3px;
        }
    }
}

@media screen and (max-width: 900px) {
    .product-card {
        width: calc((100% - 20px) / 2);
    }
}

@media screen and (max-width: 700px) {
    .product-card {

        &__wrapper {
            gap: 10px;
        }

        &__image-wrapper {
            aspect-ratio: 21 / 23;
        }

        &__text-wrapper {
            gap: 1px;
        }

        &__descr-wrapper {
            gap: 1px;
        }
    }
}

@media screen and (max-width: 480px) {
    .product-card {
        width: 100%;

        &__image-wrapper {
            aspect-ratio: 1 / 1;
        }
    }
}