@use "/src/scss/base/mixins.scss" as *;
@use "/src/scss/base/variables.scss" as *;

.title-h1 {
    @include title;
    font-size: 60px;
}

.title-h2 {
    @include title;
    font-size: 48px;
}

.title-h3 {
    @include title;
    font-size: 36px;
}

.title-h4 {
    @include title;
    font-size: 24px;
}

.txt {
    @include paragraph;
    font-size: 21px;
}

@media screen and (max-width: 700px) {
    .title-h1 {
        @include title;
        font-size: 48px;
    }

    .title-h2 {
        @include title;
        font-size: 40px;
    }

    .title-h3 {
        @include title;
        font-size: 28px;
    }

    .title-h4 {
        @include title;
        font-size: 20px;
    }

    .txt {
        @include paragraph;
        font-size: 17px;
    }
}

@media screen and (max-width: 440px) {
    .title-h1 {
        @include title;
        font-size: 40px;
    }

    .title-h2 {
        @include title;
        font-size: 36px;
    }
}