@use "/node_modules/normalize.css/normalize.css";
@use "/src/scss/base/basic.scss";

@use "/src/scss/ui/buttons.scss";
@use "/src/scss/ui/titles.scss";
@use "/src/scss/ui/unordered-pagination.scss";
@use "/src/scss/ui/product-card.scss";

@use "/src/scss/blocks/header.scss";

@use "/src/scss/blocks/promo.scss";
@use "/src/scss/blocks/bestsellers.scss";