@use "/node_modules/normalize.css/normalize.css";
@use "/src/scss/base/basic.scss";

@use "/src/scss/ui/buttons.scss";
@use "/src/scss/ui/titles.scss";
@use "/src/components/unordered-pagination/unordered-pagination.scss";
@use "/src/components/product-card/product-card.scss";

@use "/src/components/header/header.scss";

@use "/src/scss/blocks/promo.scss";
@use "/src/scss/blocks/bestsellers.scss";